<div class="flex-container">
    <div class="flex-left">
    </div>
    <div class="flex-middle">
      <h1>Leagues</h1>
      <div class="leagues">
        <div class="leageues-item" *ngFor="let leagues of getLeagues()">
          <img class="leagues-icon" src="{{ leagues.icon }}" width="50px" height="50px">
          <div class="leagues-name">
              {{ leagues.name }}
          </div>
          <div class="leagues-period">
              {{ leagues.period }}
          </div>
          <div class="leagues-owner">
              {{ leagues.owner }}
          </div>
        </div>
      </div>
    </div>
    <div class="flex-right">
    </div>
  </div>
