<div class="todays-matches result">
  <h6>Today's Matches</h6>
  <div class="match">
    <div class="players">
      <div class="player">MaloW</div>
      <div class="player">Rille</div>
    </div>
    <div class="details">
      15:00
    </div>
  </div>
  <div class="match">
    <div class="players">
      <div class="player">Rille</div>
      <div class="player">MaloW</div>
    </div>
    <div class="details">
      17:00
    </div>
  </div>
  <div class="match">
    <div class="players">
      <div class="player">MaloW</div>
      <div class="player">Rille</div>
    </div>
    <div class="details">
      19:00
    </div>
  </div>
</div>
