<div class="fl-nav-bar" *ngIf="isLoggedIn()">
  <div class="container">
    <div class="main-nav">
      <div class="nav-item">
        <span routerLink="/start" routerLinkActive="active">Start</span>
      </div>
      <div class="nav-item">
        <span routerLink="/leagues" routerLinkActive="active">Leagues</span>
      </div>
      <div class="nav-item">
        <span (click)="logOut()">Logout</span>
      </div>
    </div>
  </div>
</div>
<div class="container main-content">
  <router-outlet></router-outlet>
</div>
