<div class="news">
  <h1>News</h1>
  <div class="news-item" *ngFor="let item of getNews()">
    <img class="news-icon" src="{{ item.icon }}" width="50px" height="50px">
    <div class="news-description">
      <div class="news-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="news-text">
          Proin et mattis tortor. Vestibulum ex leo, venenatis eu dictum in, iaculis vel est. Morbi at tortor ultricies, semper dui eget, pretium metus. Nullam mattis est non felis imperdiet, a placerat nunc molestie. Morbi urna justo, euismod nec porttitor vitae, viverra in erat. Curabitur purus arcu, vulputate ut sapien et, placerat porta mauris. In urna nisl, mattis in enim eu, imperdiet venenatis nunc. Praesent tempor sagittis enim ut eleifend.
      </div>
    </div>
  </div>
</div>
