<div class="previous-matches result">
  <h6>Previous Matches</h6>
  <div class="match">
    <div class="player-one">
      MaloW
    </div>
    <div class="player-two winner">
      Rille
    </div>
  </div>
  <div class="match">
    <div class="player-one winner">
      Rille
    </div>
    <div class="player-two">
      MaloW
    </div>
  </div>
  <div class="match">
      <div class="player-one">
        MaloW
      </div>
      <div class="player-two winner">
        Rille
      </div>
    </div>
</div>
