.flex-container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.flex-container .flex-left {
  flex: 1 0 20%;
}

.flex-container .flex-middle {
  flex: 1 1 60%;
}

.flex-container .flex-right {
  flex: 1 0 20%;
}

.news .news-item {
  display: flex;

  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.news .news-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.news .news-icon {
  flex: 0 0 60px;
  vertical-align: top;
  padding: 0 5px;
}

.news .news-description {
  flex: 1 0 50%;
  display: inline-block;
}
